*{
    box-sizing: border-box;
}

:root{
    --orange: rgb(209, 83, 24);
    --orange-sutle: rgb(247, 134, 81);
}

.category-link{
    text-transform: capitalize;
    color: red;
    transition: all .3s ease-in-out ;

    &:hover{
        color: rgb(160, 160, 235);
        text-decoration: underline !important;
    }
}
.view-cart{
    background-color: rgb(171, 157, 235);
    padding: .6rem;
    width: 3rem;
    border-radius: 50%;
    aspect-ratio: 1/1;

    & i{
        object-fit: contain;
    }
}
.card{
    border: 0;
    padding: 2rem 1rem;
    position: relative;

    & .cart{
        font-size: 2rem;
        position: absolute;
        right: 1rem;
        top: 0;
        color: var(--orange-sutle);
        transition: all 200ms ease-in-out;

        &:hover{
            cursor: pointer;;
            color: var(--orange);
            scale: 1.2;
        }
    }

    & .img-container{
        height: 20rem;
        width: 100%;
 
    }
    & .img-container img{
        width: 100%;
        aspect-ratio: 1/1;
        object-fit: contain;
        object-position: top center;
    }
    & .item-name{
        font-size: 1rem;
    }
    & .item-catagory{
        font-size: 1rem;
        text-transform: capitalize;
    }
    & .item-price{
        position: absolute;
        top: -1rem;
        left: -1rem;
        padding: .4rem;
        aspect-ratio: 1/1;
        background-color: var(--orange);
        color: white;
        text-shadow: 1px 1px black;
    }

    &:hover{
       box-shadow: 3px 2px 5px 1px rgba(201, 198, 198, 0.349);
    }
}

